html, body {
     width: 100%;
     height: 100%;
     padding: 0;
     margin: 0;
  }

 @keyframes color-animation {
    0% {
       background: rgb(172,135,255);
    }
     10%{
         background: rgb(232,123,186);
     }
     20%{
         background: rgb(255,183,148);
     }
     30%{
         background: rgb(232,211,149);
     }
     40%{
         background: rgb(223,255,145);
     }
     50%{
         background: rgb(118,255,113);
     }
     60%{
         background: rgb(137,232,123);
     }
     70%{
         background: rgb(148,255,240);
     }
     80%{
         background: rgb(149,169,232);
     }
     90%{
         background: rgb(219,146,255);
     }
     100%{
         background: rgb(232,232,232);
     }

 }

.block {
   width: 100%;
   height: 100%;
   animation: color-animation 50s infinite linear alternate;
}
